main > header > h1 {
    background-color: #03954a;
    color: white;

    text-align: left;

    padding: 7px;
    margin-top: 0;
}

main > .content {
    max-width: 1000px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

main > .content > hr {
    border-style: none;
    height: 5px;
    background-color: #777;
}

.error {
    background-color: #b90a00;
    color: white;
    border: 1px solid #6d0600;

    margin: 10px 0;

    padding: 5px;

}

.error::before {
    content: '⚠';

    color: #6d0600;
    font-weight: bold;
    font-size: 1.3em;
    vertical-align: middle;

    margin-right: 5px;
}
